.container {
    max-width: 70pc;
}

.background-container {
    /* position: absolute; */
    height: 30pc;
    width: 100%;
}

.background-container .background, .background-container .background-shade{
    position: absolute;
    margin: auto;
    top: 0;right: 0;left: 0;
    z-index: -1;
}

.background-shade {
    height: 30pc;
    width: 100%;
    background: linear-gradient(180deg, rgba(30, 35, 51, 0) 60%, #1E2333 100%);
}

.background {
    height: 30pc;
    width: 100%;
    background: url('./components/homepagebg.jfif');
    background-size: 100%;
    background-position: center;
}

.profile-container {
    height: 20pc;
    width: fit-content;
    position: absolute;
    margin: auto;
    top: 10%;right: 0;left: 0;
    z-index: 3 !important;
}

.profile-container * {
    color: #fff;
}

.profile-name {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 40px;
    letter-spacing: 3px;
}

.profile-desc {
    margin-top: 10px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 3px;
}

.socials {
    max-width: 45%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.socials * {
    cursor: pointer;
    font-size: 20px;
}

@media (max-width: 768px) {
    .background {
        background-size: cover;
    }
    .profile-picture {
        height: 9pc;
        width: 9pc;
    }
    .profile-name {
        font-size: 27px;
    }
    .profile-desc {
        font-size: 14px;
    }
}

.tabs {
    margin-top: -20px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.tabs * {
    margin: auto;
    height: fit-content;
    width: fit-content;
    color: #7A9FB4;
    transition: .3s;
}
.tabs *.open {
    color: #fff;
    font-size: 22px;
}

.blog-trailer * {
    font-family: Poppins, sans-serif;
    text-align: left;
}

.blog-trailer {
    height: fit-content;
    width: calc(100% - 100px);
    margin-bottom: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 320px 1fr;
}

.blog-trailer-thumbnail {
    height: 320px;
    width: 320px;
    border-radius: 10px;
}
.blog-trailer-info {
    padding: 20px 0;
}
.blog-trailer-date {
    color: #6E798C;
    font-size: 14px;
    margin-bottom: 10px;
}
.blog-trailer-name {
    font-family: 'DM Serif Text', sans-serif;
    color: #fff;
    font-size: 40px;
    margin-bottom: 10px;
}
.blog-trailer-desc {
    color: #A0C6DC;
    font-size: 14px;
    margin-bottom: 30px;
    max-height: 67px;
    overflow: hidden;
}
.blog-trailer-link {
    font-size: 14px;
    color: #A0C6DC;
}
.blog-trailer-link:hover {
    color: #fff;
}

@media (max-width: 768px) {
    .blog-trailer {
        width: calc(100% - 50px);
        grid-template-columns: unset;
        grid-gap: 14px;
        grid-template-rows: auto 1fr;
    }
    .blog-trailer-thumbnail {
        height: 280px;
        width: 100%;
    }
    .blog-trailer-desc {
        max-height: fit-content;
        overflow: visible;
    }
    .blog-trailer-info {
        padding: 0;
    }
    .blog-trailer-name {
        font-size: 28px;
    }
}

.projects-page {
    padding: 0 20px;
    display: grid;
    grid-gap: 17px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.projects-page * {
    text-align: left;
    color: #7A9FB4;
}

.project-thumbnail {
    width: 100%;
    border-radius: 10px;
}

.project-name {
    color: #fff;
    font-size: 26px;
}

.project-tools {
    width: 100%;
    display: flex;
    margin: 5px 0 10px 0;
}

.project-tools span {
    font-size: 10px;
    border-radius: 4px;
    margin-right: 6px;
    padding: 4px 8px;
    background-color: #7A9FB4;
    color: #1E2333;
    white-space: nowrap;
}

.project-desc {
    margin: 10px 0;
    font-size: 16px;
}

.project-links {
    width: fit-content;
    text-align: center;
    display: grid;grid-template-columns: auto auto;
}

.project-links a {
    margin: auto 0;
    width:fit-content;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto;
}

.project-links a:hover * {
    color: #fff;
}

.project-links abbr {
    margin: auto 0;
}

.project-links span {
    margin: auto 0;
    margin-right: 12px;
}

.footer {
    margin-top: 40px;
    color: #A0C6DC;
    background-color: #090E1E;
    width: 100%;
    padding: 20px;
}